Web scraping the exchange rates from BOCHK

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

url = "https://www.bochk.com/whk/rates/exchangeRatesHKD/exchangeRatesHKD-input.action?lang=en"
html = requests.get(url).text
soup = BeautifulSoup(html, 'lxml')
print(soup.prettify())

Storing the currency codes, customer buy and customer sell data in 3 separate lists

In [ ]:
result = soup.find_all('td')
clist = []
sell=[]
buy=[]
for i in range(0,len(result),3):
  clist.append(result[i].text)
  sell.append(result[i+1].text.strip())
del clist[-1]
del sell[-1]

for i in range(0,len(result)-2,3):
  buy.append(result[i+2].text.strip())

if len(clist)!=len(sell) or len(sell)!=len(buy):
  print("Unmatched number of data")

A dataframe showing the data

In [ ]:
df = pd.DataFrame({"Currency": clist, "Customer sell": sell, "Customer buy": buy})
df

   Currency Customer sell Customer buy
0       CNY      1.109720     1.123290
1       CNH      1.107340     1.121790
2       USD      7.785200     7.827900
3       GBP      9.330430     9.484500
4       JPY      0.058250     0.059250
5       AUD      5.190370     5.295950
6       NZD      4.852240     4.962450
7       CAD      5.696450     5.785970
8       EUR      8.218010     8.356690
9       CHF      8.294440     8.436520
10      DKK      1.101370     1.127810
11      NOK      0.778400     0.802170
12      SEK      0.730260     0.752600
13      SGD      5.752580     5.814840
14      THB      0.220280     0.228740
15      BND      5.752580     5.814840
16      ZAR      0.447790     0.466780

In [ ]:
currency_code, amount, bs = [x for x in input("Please enter the command following this format: Currency code, Amount, Buy/Sell\n").split(', ')]
if currency_code not in clist:
  print("Invalid currency code, please enter the command correctly again\n")
  currency_code, amount, bs = [x for x in input("Please enter the command following this format: Currency code, Amount, Buy/Sell\n").split(', ')]

if re.findall(r'\D',amount):
  print("Invalid amount, please enter the command correctly again\n")
  currency_code, amount, bs = [x for x in input("Please enter the command following this format: Currency code, Amount, Buy/Sell\n").split(', ')]

if bs!='Buy' and bs!='Sell':
  print("Invalid option, please enter Buy or Sell only\n")
  currency_code, amount, bs = [x for x in input("Please enter the command following this format: Currency code, Amount, Buy/Sell\n").split(', ')]

Please enter the command following this format: Currency code, Amount, Buy/Sell
JPY, 10000, Sell

In [ ]:
for i in range(len(clist)):
  if clist[i] == currency_code:
    b = float(buy[i])
    s = float(sell[i])
    if bs == "Buy":
      print(amount, currency_code, '=', float(amount)*b ,"HKG")
    if bs == "Sell":
      print(amount, "HKG", '=', float(amount)/s ,currency_code)

10000 HKG = 171673.81974248926 JPY